{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "components": "./src/components",
        "icons": "./src/icons",
        "styles": "./styles"
      }
    }]
  ]
}
