.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  gap: 10px;
  /* bottom separator */
  padding: var(--space-px) 0 var(--space-px);
  border-bottom: 1px solid var(--neutral-50);
}

.Left {
  display: flex;
  flex-grow: 0; 
  align-items: center;
  justify-content: center;
}

.Right {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;

  @media(min-width: 1240px){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.Text {
  margin: 0;
  @media(min-width: 1240px){
    font-size: var(--font-size-28-px);
    line-height: var(--line-height-25);
  }
}

.ValueContainer {
  & :global(p.Subheadline) {
    font-size: var(--font-size-26-px);
    @media(min-width: 1240px){
      font-size: var(--font-size-28-px);
      line-height: var(--line-height-15);
    }
  }

  @media(min-width: 1240px){
    text-align: right;
  }
}
